body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f8fc;
    color: #333;
}
header{
    background-color: blue;
    color: white;
    padding: 10px 0;
    text-align: center;
}
h1{
    margin:0;
}
section{
    padding: 20px;
    max-width: 800px;
    margin:auto;

}
.intro, .learning-paths, .categories, .courses {
    background-color: #ffffff;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h2 {
    text-align: center;

    color: #003366;
}

ul, ol {
    padding-left: 20px;
    justify-content: center;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
   
    justify-content: center;
}
th,td{
    border: 10px solid #003366;
    padding: 10px;
    text-align: left;
}
th{
    background-color: #003366;
    color: white;
}
footer{
    text-align: center;
    padding: 10px 0;
    background-color: #003366;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}